/* Variables:
  ========================================================================== */

// font
$font_familyInter: 'Inter';
$font_familyRoboto: 'Roboto';

//font-weight
$bold: 700;
$semiBold: 600;
$medium: 500;
$regular: 400;

//font-size
$font_40px: 2.5rem;
$font_32px: 2rem;
$font_24px: 1.5rem;
$font_20px: 1.25rem;
$font_18px: 1.125rem;
$font_16px: 1rem;
$font_15px: 0.9375rem;
$font_14px: 0.875rem;
$font_12px: 0.75rem;
$font_10px: 0.625rem;

// colors
$mainColor: #3366FF;
$greyText: #737373;
$darkText: #555770;
$greyLightText: #C4C4C4;
$darkGreyTitle: #404040;
$whiteColor: #FFFFFF;
$greyColor: #9CA3AF;
$yellowColor: #FDE68A;



// bg-color
$mainBgColor: #F5F5F4;
$bgheader: #E5E5E5;
//border

//border-radius
$borderRadius: 4px;

//box-shadow
$boxShadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
$boxShadowCard: 0px 1px 4px rgba(64, 64, 64, 0.1);

// transition
$transition: all 0.5s ease-in-out;
