@import "./src/styles/styles.scss";

.invalid-feedback {
  padding-top: 10px;
  color: red;
  text-align: start;
}

.error {
  padding: 7px 20px;
  border-radius: 4px;
  border: 1px solid rgb(247, 130, 130);
  color: rgb(248, 87, 87);
  margin: 5px 0;
}

.loader {
  text-align: center;
  margin-top: 10px;
}

.profile-edit {
  font-family: $font_familyInter;
  background-color: $mainBgColor;
  @extend %full-width;
  padding: 60px 100px;

  .profile-edit__wrapper {
    background-color: $whiteColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 60px 0;

    .profile-edit__form-wrapper {
      min-width: 300px;

      .profile-edit__title {
        @extend %style-title;
        text-align: center;
      }

      .profile-edit__sub-title {
        @extend %style-description;
        text-align: center;
        padding: 10px 0 40px 0;
      }

      .profile-edit__wrapper-img {
        text-align: center;
      }

      .profile-edit__form {
        padding-top: 20px;

        .profile-edit__group {
          @include flex(column, flex-start, flex-start);

          & label {
            @extend %style-label-input;
          }

          & input {
            margin-top: 4px;
            @extend %style-input;
          }

          input.ng-touched.ng-invalid {
            border: solid red 1px;
          }
        }

        .profile-edit__btn {
          padding-top: 40px;
          text-align: center;

          .profile__btn-light {
            margin-right: 20px;
            background-color: $whiteColor;
            color: $mainColor;
            border: 2px solid $mainColor;
            padding: 8px 16px;
            border-radius: 4px;
            font-size: $font_14px;
            cursor: pointer;
          }

          .profile__btn-light:hover {
            background-color: $mainColor;
            color: $whiteColor;
            border: 2px solid $mainColor;
            transition: $transition;
          }

          .profile__btn {
            @extend %btn-style;
            padding: 6px 20px;
            font-size: $font_14px;
            line-height: 24px;
            cursor: pointer;
          }

          .profile__btn:hover {
            opacity: 0.9;
            transition: $transition;
          }
        }

      }

    }
  }
}

@include mobile-w {
  .profile-edit {
    padding: 30px 0;

    .profile-edit__wrapper {
      padding: 30px 0;
      border-radius: 0;
    }
  }
}

@include mobile {
  .profile-edit {
    padding: 30px 0;
    width: 100%;

    .profile-edit__wrapper {
      padding: 30px 0;
      border-radius: 0;

      .profile-edit__form-wrapper {
        padding: 0 30px;

        .profile-edit__group {
        }
      }
    }
  }
}
