<section
  class="signUp-form__wrapper">
  <div class="signUp-form__overlay">
    <div class="form-wrapper">
      <button type="button"
              class="close-modal"
              (click)="onClose()">
        <img src="/assets/icons/close-modal.svg" alt="close">
      </button>
      <h3 class="signUp__title">Sign up</h3>
      <p class="signUp__descr">Complete the form to access your account</p>
      <div *ngIf="isLoading" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="error" class="error">
        <span>{{error}}</span>
      </div>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="signUp-form__group">
          <label>Full Name
            <input
              type="text"
              formControlName="fullName"
              placeholder="John Doe"
              class="signUp-form__group-input"/>
          </label>
          <div class="invalid-feedback">
            <span *ngIf="signUpForm.controls['fullName'].invalid && signUpForm.controls['fullName'].touched">This field is required</span>
          </div>
        </div>
        <div class="signUp-form__group">
          <label>Email
            <input type="email"
                   formControlName="email"
                   placeholder="example@email.com"
                   class="signUp-form__group-input"/>
          </label>
          <div class="invalid-feedback">
            <span
              *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched">Email is required</span>
          </div>
        </div>
        <div class="signUp-form__group">
          <label>Create password
            <input
              type="password"
              formControlName="password"
              placeholder="********"
              class="signUp-form__group-input"/>
          </label>
          <div class="invalid-feedback">
            <span *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">Password must be at least 6 characters</span>
          </div>
        </div>
        <div class="signUp-form__group">
          <label>Confirm password
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="********"
              class="signUp-form__group-input"/>
          </label>
          <div class="invalid-feedback">
            <span
              *ngIf="signUpForm.controls['confirmPassword'].invalid && signUpForm.controls['confirmPassword'].touched">This field is required</span>
            <div>
              <span *ngIf="signUpForm.controls['confirmPassword'].touched && signUpForm.errors?.invalid">Password and confirmation password must match</span>
            </div>
          </div>
        </div>
        <div class="signUp-form__wrapper-btn">
          <button class="signUp-form__btn" [disabled]="!signUpForm.valid">Create an account</button>
          <button
            type="button"
            class="signUp-form__btn"
            (click)="onClose()"
            routerLink="signUpMentor1"
          >Sign up as a mentor
          </button>
        </div>

      </form>
      <div class="signUp-form__link">
        <span>Already have an account?</span>
        <span (click)="onLogin()"> Log in</span>
      </div>
    </div>
  </div>
</section>
